body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}
.obrazek {
  position: absolute;
  top: 200px;
  left: 200px;
}