body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}
.napis1 {
  border: 2px solid #1100ff; /* grubość, styl, kolor ramki */
  padding: 10px;             /* odstęp między tekstem a ramką */
  display: inline-block;     /* żeby ramka otaczała tylko tekst, nie całą linię */
  border-radius: 5px;        /* opcjonalnie zaokrąglone rogi */
  background-color: #05b4ff;
  position: absolute; /* lub relative */
  top: 30px;          /* odległość od góry strony */
  left: 50px;
}
.napis2 {
    position: absolute;
    top: 150px;          /* odległość od góry */
    width: fit-content;   /* szerokość dopasowana do tekstu */
    left: 50%;            /* przesunięcie do środka kontenera */
    transform: translateX(-50%); /* faktyczne wyśrodkowanie */
}
.custom-button {
  display: flex;
  flex-direction: column;       /* pionowy układ: obrazek nad tekstem */
  align-items: center;          /* centrowanie w poziomie */
  justify-content: flex-start;  /* obrazek u góry */
  text-decoration: none;
  border: 2px solid #1100ff;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;                 /* szerokość przycisku */
  height: 200px;                /* wysokość przycisku */
  cursor: pointer;
  background-color: #2200ff;
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  top: 350px;
  left: 40px;

}

/* Obrazek */
.button-image img {
  width: 100%;
  height: 100%;                  /* zajmuje górne 60% przycisku */
  object-fit: cover;            /* dopasowanie obrazka */
}

/* Tekst */
.button-text {
  flex: 1;                       /* reszta miejsca na tekst */
  display: flex;
  align-items: center;
  justify-content: center;       /* centrowanie tekstu */
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
